<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainNav">
    <ul class="navbar-nav me-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-gear me-1"></i>Yönetim
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="/yonetim/kullanicilar"><i class="bi bi-people me-2"></i>Kullanıcılar</a></li>
          <li><a class="dropdown-item" href="/yonetim/gruplar"><i class="bi bi-shield-lock me-2"></i>Gruplar</a></li>
          <li><a class="dropdown-item" href="/yonetim/organizasyon"><i class="bi bi-diagram-3 me-2"></i>Organizasyon</a></li>
          <li><a class="dropdown-item" href="/yonetim/ayarlar"><i class="bi bi-sliders me-2"></i>Ayarlar</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-box-seam me-1"></i>Envanter
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="/envanter/ekipmanlar"><i class="bi bi-tools me-2"></i>Ekipmanlar</a></li>
          <li><a class="dropdown-item" href="/envanter/kategoriler"><i class="bi bi-tag me-2"></i>Kategoriler</a></li>
          <li><a class="dropdown-item" href="/envanter/depolar"><i class="bi bi-building me-2"></i>Depolar</a></li>
          <li><a class="dropdown-item" href="/envanter/zimmet"><i class="bi bi-clipboard-check me-2"></i>Zimmet</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-person-badge me-1"></i>Personel
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="/personel/kartlar"><i class="bi bi-person-lines-fill me-2"></i>Personel Kartları</a></li>
          <li><a class="dropdown-item" href="/personel/takimlar"><i class="bi bi-people-fill me-2"></i>Takımlar</a></li>
          <li><a class="dropdown-item" href="/personel/sertifikalar"><i class="bi bi-award me-2"></i>Sertifikalar</a></li>
          <li><a class="dropdown-item" href="/personel/egitimler"><i class="bi bi-book me-2"></i>Eğitimler</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-clipboard2-check me-1"></i>Sayım
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="/sayim/gorevler"><i class="bi bi-list-check me-2"></i>Sayım Görevleri</a></li>
          <li><a class="dropdown-item" href="/sayim/kitler"><i class="bi bi-bag-check me-2"></i>Kit Listeleri</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-map me-1"></i>Operasyon
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="/operasyon/liste"><i class="bi bi-flag me-2"></i>Operasyonlar</a></li>
          <li><a class="dropdown-item" href="/operasyon/tahsisler"><i class="bi bi-send me-2"></i>Tahsisler</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-bar-chart me-1"></i>Raporlar
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="/raporlar/dashboard"><i class="bi bi-speedometer2 me-2"></i>Dashboard</a></li>
          <li><a class="dropdown-item" href="/raporlar/pdf"><i class="bi bi-file-pdf me-2"></i>PDF</a></li>
          <li><a class="dropdown-item" href="/raporlar/excel"><i class="bi bi-file-excel me-2"></i>Excel</a></li>
        </ul>
      </li>

    </ul>
  </div>
</nav>